body {
    width: 1000px;
    height: 800px;
    background-color: lightgreen;
    margin: 0 auto;
}

.wrapper-page {
    margin: 0 auto;
    width: 560px;
    border: 1px solid lightgray;
    text-align: center;
    background-color: lightyellow;
}

h1 {
    color: darkgoldenrod;
    text-align: center;
}

.auth {
    padding: 30px;
}


.logged-out {
    border: 1px solid lightgray;
}

.logged-in {
    border: 1px solid lightgray;
}

button {
    margin: 20px;
}

p {
    margin: 20px;
}

input {
    margin: 25px;
}